@tailwind base;
@tailwind components;

/* Write your custom CSS below */

.dropdown-menu:hover > div {
    @apply block;
}


/* HAMBURGER MENU */
.icon-hamburger{
    width: 28px;
    height: 22px;
    position:relative;
    margin:auto;
    transform:rotate(0);
    transition:.5s ease-in-out;
    cursor:pointer;
}

.icon-hamburger span{
display:block;
position:absolute;
height:3px;
width:100%;
background:#000;
border-radius:9px;
opacity:1;
left:0;
transform:rotate(0);
transition:.25s ease-in-out
}

.icon-hamburger span:nth-child(1){
top:0
}

.icon-hamburger span:nth-child(2), .icon-hamburger span:nth-child(3){
top: 9px;
}

.icon-hamburger span:nth-child(4){
top: 18px;
}

.icon-hamburger.open span:nth-child(1){
top:18px;
width:0%;
left:50%
}

.icon-hamburger.open span:nth-child(2){
transform:rotate(45deg)
}

.icon-hamburger.open span:nth-child(3){
transform:rotate(-45deg)
}

.icon-hamburger.open span:nth-child(4){
top:18px;
width:0%;
left:50%
}

/* Write your custom CSS above */

@tailwind utilities;